<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Book</title>
</head>
<body>



<h1>Add a Book:</h1>


<form action="#" th:action="@{addBook/submit}"
      th:object="${bookView}" method="POST">
    <div class="form-group">
        <label>Наименование</label>
        <input type="text" class="form-control" th:field="*{name}"/>
    </div>

    <div class="form-group">
        <label>Автор</label>
        <input type="text" th:field="*{author}"/>
    </div>

    <div class="form-group">
        <label>Описание</label>
        <input type="text" th:field="*{description}"/>
    </div>

    <div class="form-group">
        <label>ISBN</label>
        <input type="number" th:field="*{isbn}"/>
    </div>


    <!--<table>-->
        <!--<tr>-->
            <!--<td>Полка:</td>-->
            <!--<td>-->
                <!--<select th:field="*{shelf}">-->
                    <!--<option value=""> &#45;&#45; </option>-->
                    <!--<option th:each="shelf : ${shelves}"-->
                            <!--th:value="${shelf}"-->
                            <!--th:utext="${shelf.name}"/>-->
                <!--</select>-->

            <!--</td>-->
        <!--</tr>-->

        <!--<tr>-->
            <!--<td><input name="submit" type="submit" value="submit" /></td>-->
        <!--</tr>-->
    <!--</table>-->

    <button type="submit">Сохранить</button>
</form>

</body>
</html>