<!DOCTYPE html>
<html xmlns:th="http://www/thymeleaf.org">
<head>
    <title>User List</title>
</head>
<body>
<h1>User List</h1>
<div>
    <table border="1">
        <tr>
            <th>Email</th>
            <th>Password</th>
            <th>Active</th>
        </tr>
        <tr th:each ="userView : ${userView}">
            <td th:utext="${userView.name}">...</td>
            <td th:utext="${userView.description}">...</td>
            <td>
                <form th:action="@{user/delete/{id}(id=${userView.id})}">
                    <button type="submit">Delete</button>
                </form>

            </td>
        </tr>
    </table>
</div>
</body>
</html>